:root {
    --stripe--font-color: #e25950;
    --stripe--label-color: #555;
    --stripe--label-focus-color: #2767c7;
  }
  @font-face
    {
    font-family: Roboto;
        src: url('https://fonts.googleapis.com/css?family=Roboto'),
    }
    .payment-info{

    }
.lyq-stripe{
    width:90%;
    padding: 20px 0;
    max-width:320px;
    margin:auto;
    position: relative;
    border-radius: 8px;
}
.lyq-stripe .sr-combo-inputs-row{
    padding: 20px 20px 1px;
    /* background: #fff; */
    /* background-image: linear-gradient(120deg, #c4282800 0%, #00000059 6rem, white 11rem, transparent 11.15rem, #00000040 15rem, rgba(255, 255, 255, 0.3) 20rem, #00000026 25rem, transparent 27rem, rgba(255, 255, 255, 0.6) 32rem); */
    /* background-image: linear-gradient(to top right,#47a5e2, #b5deff); */
    /* border-radius: 12px; */
    position: relative;
    border-radius: 6px;
    

}
.ElementsApp, .ElementsApp .InputElement{
    color:#fff;
}
.ElementsApp::-webkit-input-placeholder, .ElementsApp .InputElement::-webkit-input-placeholder{

    color:#f4f4f4 !important;

    }
/* .sr-combo-inputs-row::before{
    content: "";
    background: url('../images/paybg.jpg');
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;  
    filter: blur(10px);
} */
.lyq-stripe .sr-card-element{   transition:all 0.2s linear 0s;}
.lyq-stripe .row{display: flex;    justify-content: space-between;}
.lyq-stripe .row>div{width:48%;}
.lyq-stripe div +.row{margin: 40px 0 0 0 ;}

.lyq-stripe .box input::-webkit-input-placeholder{
    color:#f4f4f4;
}
.lyq-stripe .box .left,.lyq-stripe .box .right,.lyq-stripe .box{
    position: relative;
    margin:14px 0 0 0;
}
.lyq-stripe .box .baseline{

    /* position: absolute;
    bottom: 0px; */
    width: 100%;
    font-size: 14px;
    margin-bottom: 6px;
    color: #333;
    letter-spacing: 1px;
    /* height:1px;
    z-index:-1; */
}
/* .lyq-stripe .box label{
    padding: 12px;
    color: var(--stripe--label-color);
    font-family: Roboto;
    letter-spacing: 1px;
    position: absolute;
    bottom: 0px;
    left:0px;
    width: 100%;
    cursor: text;
    transition:all 0.2s linear 0s;
    transform-origin: 0 50%;

}


.sr-card-element.Selected+label,.sr-card-element:not(.Unchecked)+label{

    transform:scale(0.8) translateY(-30px) ;
    cursor:default;
} */
/* .sr-card-element.Selected+label{
    color:var(--stripe--label-focus-color);
} */


.lyq-stripe .sr-card-element{
    padding: 9px 12px;
    background: transparent;
    border: none;
    border-radius: 4px;
    border: 1px solid #909090;
    
}
/* .lyq-stripe .sr-card-element.Selected{
    box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
} */
/* .lyq-stripe .sr-card-element.Selected{border-color:var(--stripe--label-focus-color);} */
#submits{

    border-radius:4px;
    color: #fff;
    /* background-image:linear-gradient(150deg, #c4282800 0%, #00000059 6rem, #e4e4e4 11rem, #00000040 15rem, rgb(169 56 56 / 0%) 20rem, #00000026 25rem,  rgba(255, 255, 255, 0.6) 32rem); */
    background:#000;
    /* box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc; */
    box-shadow:none;
    transition: all 0.5s ease-in-out;
    margin: 44px 20px 20px;
    width: calc(100% - 40px);
    /* border: 1px solid #ccc; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#submits:active{
    /* box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
    filter:none;
    transform:none; */
    transition: all 0.5s ease-in-out;
    background:linear-gradient(170deg, #c4282800 0%, #00000059 6rem, #e4e4e4 11rem, #00000040 15rem, rgb(169 56 56 / 0%) 20rem, #00000026 25rem,  rgba(255, 255, 255, 0.6) 32rem);
    
}

@media(max-width: 720px){
    .lyq-stripe .box label{padding:8px;}
    .lyq-stripe div +.row{
        margin:20px 0 0 0;
    }

}


.lyq-stripe .error svg .base {
fill: var(--stripe--font-color);
}
.lyq-stripe .error{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin: 0px 20px 0;
    width:calc(100% - 40px);
    /* transform: translateY(20px); */
    opacity: 0;
    /* z-index: -1; */
    transition: all 0.1s linear 0s;
    height:44px;
}
.lyq-stripe .errorHide{
    /* transform: none; */
    opacity: 1;
    animation-name: errorHide;
    animation-duration: 0.3s;
    animation-direction: alternate ;
}
@keyframes errorHide {
    0%   {transform: translateY(20px);}
    75%  {transform: translateY(-5px);}
    100% {transform: translateY(0px);}
}

.sr-field-error{
    /* color:var(--stripe--font-color); */
    color:red;
    margin:0px 0 0 12px;
}

.Selected{
    border: 1px solid red !important;
}
.ElementsApp{left:90% !important}
.CardNumberField--ltr .CardBrandIcon-container:not(.is-hidden)+.CardNumberField-input-wrapper{left:0 !important}
body{background: #fff;}

#spinner{
    margin: 0 12px 0 0;
}
#button-text{margin-right:6px}